html {
    --lumo-primary-text-color: rgb(35, 95, 213);
    --lumo-primary-color-50pct: rgba(35, 95, 213, 0.5);
    --lumo-primary-color-10pct: rgba(35, 95, 213, 0.1);
    --lumo-primary-color: #235FD5;
    --vaadin-focus-ring-width: 0px;
}

.white-card {
    background-color: white;
    border-radius: var(--lumo-border-radius-l);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.call-button {
    margin: 0;
    height: auto;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
}


.cursor-pointer {
    cursor: pointer;
}

html {
    background-color: #eee;
}


.cut-overflow-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.jmix-main-view-drawer-toggle, .back-button {
    color: white !important;
    margin-left: -13px;
}


.light-background {
    background: linear-gradient(180deg, #EBF2FC 0%, #DBE8FD 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    overflow:hidden;
}


.blue-btn {
    background: linear-gradient(270deg, #1A60CC 0%, #154287 100%);
    box-shadow: 0px 1px 1.63px 0px #1542872E;
    box-shadow: 0px 5px 10px 0px #1542875C;
    color: white;
    border-radius: 20px;
    flex: 1;
}

.blue-btn[disabled] {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    linear-gradient(270deg, #1A60CC 0%, #154287 100%);
    box-shadow: none;
}

.orange-btn {
    background: linear-gradient(270deg, #FF9467 0%, #E35231 100%);
    box-shadow: 0px 1px 1.63px 0px #B936032E;
    box-shadow: 0px 5px 10px 0px #B936035C;
    color: white;
    border-radius: 20px;
    flex: 1;
}


.orange-btn[disabled] {
    background:
        linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
        linear-gradient(270deg, #FF9467 0%, #E35231 100%);
    box-shadow: none;
}

vaadin-radio-group.one-to-five-answer > vaadin-radio-button {
    width: 20%;
}