<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <separator/>
    <item view="Inspection.list" title="msg://io.jmix.windturbines.view.inspection/inspectionsListView.title"/>
    <item view="Turbine.list" title="msg://io.jmix.windturbines.view.turbine/turbineListView.title"/>
    <separator/>
</menu-config>
