.finding-card {
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    border-radius: 0;
}

div[style*="position: absolute;"]:last-child .finding-card {
    border-bottom: none;
}


.evidence-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--lumo-border-radius-l);
}



.upload-btn {
    width: 100%;
}