#searchField::part(input-field) {
    background: #1D3982;
    padding: 5px;
    border-radius: 15px;
}

#searchField {
    width: 100%;
}

#searchField > [slot="prefix"], #searchField::part(clear-button), #searchField > input {
    color: white;
}


.inspection-list-white-card {
    width: auto !important;
}


.content-tab-sheet::part(tabs-container) {
    background-color: #1D3982;
    border-radius: 15px;
    padding: 5px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 4px;
    height: 36px;
}

.content-tab-sheet vaadin-tab {
    color: white;
}

.content-tab-sheet vaadin-tab[selected] {
    background: linear-gradient(180deg, #EBF2FC 0%, #DBE8FD 100%);
    color: #1D3982;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-tab-sheet::part(content) {
    padding: 0 !important;
}

.my-inspections-filter  {
    border-radius: 10px;
    background-color: white;
}




span.task-status[theme~="scheduled"] {
    background: #E3F0FB;
    color: #235FD5;
}

span.task-status[theme~="deferred"] {
    background: #FFEED0;
    color: #BF6F00;
}

span.task-status[theme~="completed"] {
    background: #DAF1F6;
    color: #297B84;
}