#searchField::part(input-field) {
    background: var(--dark-blue);
    padding: 5px;
    border-radius: 15px;
}

#searchField {
    width: 100%;
}

#searchField > [slot="prefix"], #searchField::part(clear-button), #searchField > input {
    color: white;
}


.inspection-list-white-card {
    width: auto !important;
}

.my-inspections-filter  {
    border-radius: 10px;
    background-color: white;
}


span.task-status[theme~="scheduled"] {
    background: #E3F0FB;
    color: #235FD5;
}

span.task-status[theme~="deferred"] {
    background: #FFEED0;
    color: #BF6F00;
}

span.task-status[theme~="completed"] {
    background: #DAF1F6;
    color: #297B84;
}