.jmix-main-view-header {
    background: white;
}


#MainView {
    background: linear-gradient(0deg, #DBE8FD 30%, #1A60CC 61.5%, #154287 100%);
    /*padding:10px;*/
}


h3.page-title {
    color: white;
}

 {

}

.main-menu-tabs vaadin-tab[selected] {
    color: #235FD5;
}

.main-menu-tabs vaadin-tab[selected] vaadin-icon {
    fill: #235FD5 !important;
}
.main-menu-tabs vaadin-tab vaadin-icon {
    fill: #5B6A87FF !important;
}