#searchField::part(input-field) {
    background: #1D3982;
    padding: 5px;
    border-radius: 15px;
}

#searchField {
    width: 100%;
}

#searchField > [slot="prefix"], #searchField::part(clear-button), #searchField > input {
    color: white;
}


.turbine-list-white-card {
    width: auto !important;
}