#searchField::part(input-field) {
    background: var(--dark-blue);
    padding: 5px;
    border-radius: 15px;
}

#searchField {
    width: 100%;
}

#searchField > [slot="prefix"], #searchField::part(clear-button), #searchField > input {
    color: white;
}


.width-auto {
    width: auto !important;
}



span.turbine-status[theme~="idle"] {
    background: #E3F0FB;
    color: #235FD5;
}

span.turbine-status[theme~="maintenance"] {
    background: #FFEED0;
    color: #BF6F00;
}

span.turbine-status[theme~="operating"] {
    background: #DAF1F6;
    color: #297B84;
}

span.turbine-status[theme~="out-of-service"] {
    background: #ffd0d0;
    color: #bf0000;
}