.jmix-login-main-layout {
    background: linear-gradient(0deg, #1A60CC 61.5%, #154287 100%);
}

vaadin-login-form-wrapper {
    border-radius: var(--lumo-border-radius-l);
}

.jmix-login-main-layout vaadin-button[slot="submit"][theme~="primary"] {
    background: var(--orange-btn-background);
    box-shadow: var(--orange-btn-box-shadow);
    color:white;
    border-radius: 20px;
}
vaadin-login-form-wrapper::part(form-title) {
    font-size: 0;
    background-image: url('/windturbines/icons/login-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 75px;
    display: block;
}

vaadin-login-form-wrapper::part(form-title)::before {
    content: "";
    display: none;
}